
*{
    font-family: 'Times New Roman', Times, serif;
}

.nav-element{
    background-color: #401F71;
    height:50px;
    display:flex;
    
    
}
.nav-ele{
    color:white;
    text-decoration: none;
    margin-left: 100px;
    margin-top: 10px;
}

.footer{
    background-color: black;
    height:50px;
   
    text-align: center;
}


img{
   margin-top: 10px;
    margin-left:10px;
    
}





